@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Heebo:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM", sans-serif;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 27px;
  margin-bottom: 40px;
}
a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
}

.logo {
  font-size: larger;
  font-weight: bold;
}

/* Header */

nav {
  display: flex;
  justify-content: flex-end;
}

.navLinks a {
  margin-left: 30px;
}

.bannerContent {
  display: flex;
  /* flex: 0.8; */
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 71px;
}

.bannerContent h1 {
  font-size: 44px;
  margin-bottom: 40px;
}

.bannerContent p {
  margin-bottom: 38px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400px;
}

.bannerImg {
  width: 243px;
  height: 243px;
  display: flex;
  margin: auto;
}

.bannerImg img {
  max-width: 100%;
  height: auto;
}

.btn {
  /* padding: 10px; */
  border: 2px #e74c3c;
  font-weight: bold;
  cursor: pointer;
}

.btn a {
  color: #fff;
  background: #ff6464;
  padding: 10px 20px;
}

/* Recent Posts */
.recentPosts {
  display: flex;
  justify-content: center;
  background: #edf7fa;
  padding: 40px 0;
}

.postsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}
.postsHeader a {
  color: #00a8cc;
}
.postsGrid {
  display: flex;

  /* width: 418px; */
  justify-content: center;
  gap: 20px;
  border-radius: 4px;
}

.post {
  background: white;
  padding: 20px;
  /* flex: 1; */
}

.postsHeader h4 {
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  letter-spacing: 0px;
  vertical-align: bottom;
}
.post h3 {
  margin-bottom: 26px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
}

.post p {
  font-size: 16px;
}
.date {
  font-size: 18px;
  margin-bottom: 11px;
}

.featuredWorks .work {
  display: flex;
  margin-bottom: 40px;
  gap: 20px;
  /* border-bottom: 2px solid #e0e0e0; */
}

.work {
  border-bottom: 2px solid #e0e0e0;
  padding: 20px 0;
}

.featuredWorks h4 {
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  letter-spacing: 0px;
  margin-bottom: 22px;
}

.workImage {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 6px;
}

.workImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.workText a {
  display: block;
  font-weight: 400px;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: 0px;
}

.tag {
  display: inline-block;
  background: #142850;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 18px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.category {
  color: #8695a4;
  font-size: 20px;
}

/* Footer */
footer {
  background: transparent;
  padding: 40px 0;
  text-align: center;
}

.footerContent i {
  font-size: 30px;
}
.footerContent .socialIcons {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.socialIcons :hover {
  color: #ff6464;
}
