@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Heebo:wght@100..900&display=swap");

body {
  font-family: "Heebo", sans-serif;
  margin: 0;
  color: #333;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 1200px;
  margin: auto;
  border: #000 2px solid;
  /* padding: 40px 20px; */
}

/* Header */
nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 40px;
}

.nav-links a {
  margin-left: 30px;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 180px;
  margin-bottom: 30px;
}

.banner-text h1 {
  font-size: 32px;
  margin: 0;
}

.banner-text span {
  color: #2d2e32;
  font-weight: bold;
}

.banner-text p {
  margin: 20px 0;
  line-height: 1.5;
  max-width: 400px;
  font-size: 16px;
  font-weight: 400px;
}

.banner-img {
  width: 243px;
  display: flex;
  margin: auto;
  /* height: 24px;*/
}

.download-btn {
  background: #ff6464;
  color: white;
  padding: 10px 20px;
  border: 2px #e74c3c;
  font-weight: bold;
  cursor: pointer;
}

/* Recent Posts */
.recent-posts {
  background: #edf7fa;
}

.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts-grid {
  display: flex;

  /* width: 418px; */
  justify-content: center;
  gap: 20px;
  border-radius: 4px;
}

.post {
  background: white;
  padding: 20px;
  /* flex: 1; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.post h3 {
  margin-top: 0;
}

.date {
  color: gray;
  font-size: 14px;
}

.featured-works .work {
  display: flex;
  margin: 40px 0;
  gap: 20px;
}

.work img {
  width: 200px;
  height: auto;
}

.work-text h3 {
  font-family: Heebo;
  font-weight: 400px;
  font-size: 22px;
  line-height: 60px;
  letter-spacing: 0px;

  margin: 0;
}

.tag {
  background: #142850;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  margin-right: 10px;
}

.category {
  color: #8695a4;
  font-size: 14px;
}

/* Footer */
footer {
  background: white;
  padding: 40px 0;
  text-align: center;
}

.footer-content img {
  height: 24px;
  margin: 0 10px;
}
